<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spotmusic</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body
    style="
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    "
  >
    <div class="container">
      <a
        style="
          left: 20px;
          text-decoration: none;
          font-size: 80px;
          position: absolute;
          color: blueviolet;
        "
        class="btn btn-light"
        href="/home"
        >⇦
      </a>
      <div
        style="
          margin-top: 10px;
          flex: 1;
          display: flex;
          width: 100%;
          height: 100px;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        "
      >
        <h1
          style="
            color: #fff;
            border-radius: 10px 50px 10px 50px;
            width: 300px;
            height: 200px;
            background-color: blueviolet;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex: 1;
            display: flex;
          "
        >
          Spotmusic
        </h1>
      </div>

      <div
        style="
          margin-left: 37%;
          width: 3350px;
          height: 200px;
          position: absolute;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-top: 400px;
        "
      >
        <div
          style="
            box-shadow: 10px 10px 10px blueviolet;
            display: flex;
            width: 350px;
            height: 80px;
            background-color: blueviolet;
            border: solid 1px black;
            border-radius: 50px;
            align-items: center;
            text-align: center;
            justify-content: center;
          "
        >
          <a
            style="
              padding-top: 10px;
              text-decoration: none;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: white;
              font-weight: bold;
              font-size: 30px;
            "
            class="btn btn-primary"
            th:href="@{/playlists/cadastro}"
            >Nova playlist ➲</a
          >
        </div>
      </div>
      <div
        style="
          border-radius: 20px;
          padding: 10px;
          background-color: #fff;
          margin-top: 50px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
        "
        th:if="${playlists != null}"
      >
        <hr />

        <div
          style="
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <h4
            style="
              color: blueviolet;
              font-size: 30px;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            PLAYLISTS
          </h4>
        </div>

        <div
          style="
            position: absolute;
            text-align: center;
            border-radius: 50px 10px 50px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bold;
            width: 170px;
            height: 40px;
            background-color: black;
          "
          th:if="${mensagem != null}"
        >
          <div class="alert alert-info" role="alert">
            <span style="font-size: 14px" th:text="${mensagem}"
              >mensagem ✔</span
            >
          </div>
        </div>

        <table class="table" style="color: blueviolet">
          <thead style="margin: 10px">
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tr th:each="playlist : ${playlists}">
            <td>
              <a
                style="
                  text-align: center;
                  border-radius: 50px 10px 50px 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #fff;
                  font-weight: bold;
                  width: 200px;
                  height: 40px;
                  text-decoration: none;
                  background-color: blueviolet;
                "
                th:text="${playlist.nome}"
                th:href="@{/playlists/{id}/musicas/listar(id=${playlist.id})}"
                >nome</a
              >
            </td>
            <td
              style="
                text-align: center;
                border-radius: 50px 10px 50px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-weight: bold;
                width: 300px;
                height: 40px;
                background-color: blueviolet;
              "
              th:text="${playlist.descricao}"
            >
              descricao
            </td>
            <td>
              <div
                style="
                  flex-direction: row;
                  width: 220px;
                  display: flex;
                  justify-content: space-between;
                "
              >
                <div
                  style="
                    border-radius: 10px 50px 10px 50px;
                    width: 80px;
                    height: 40px;
                    background-color: rebeccapurple;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <a
                    style="color: #fff"
                    class="btn btn-sm btn-info"
                    th:href="@{/playlists/{id}/atualizar(id=${playlist.id})}"
                    >Editar</a
                  >
                </div>
                <div
                  style="
                    border-radius: 10px 50px 10px 50px;
                    width: 80px;
                    height: 40px;
                    background-color: rebeccapurple;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <a
                    style="color: #fff"
                    class="btn btn-sm btn-danger"
                    th:href="@{/playlists/{id}/remover(id=${playlist.id})}"
                    >Excluir</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div th:if="${#lists.isEmpty(playlists)}">
          <div
            style="
              color: #fff;
              justify-content: center;
              align-items: center;
              text-align: center;
              border-radius: 20px;
              width: 180px;
              height: 35px;
              display: flex;
              background-color: blueviolet;
            "
            class="alert alert-info"
            role="alert"
          >
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            0 playlists cadastradas ☹
          </div>
        </div>
        <hr />
      </div>

      <div style="width: 100%; height: 100px; position: absolute; top: 700px">
        <footer class="footer">
          <p>&copy; 2022 Dharlison Dhovan</p>
        </footer>
      </div>
    </div>
  </body>
</html>
